<ion-content class="login-content" padding no-bounce [attr.noScroll]="shouldScroll">
    <div class="top-row">
        <ion-row>

            <ion-col>
                <h1 class="label-logo">PRIMĂRIA TIMIȘOARA</h1>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">

                    <ion-list>

                        <ion-item>
                            <ion-input formControlName="email" type="text"
                                       placeholder="Adresa email"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input formControlName="password" type="password" placeholder="Parola"></ion-input>
                        </ion-item>

                        <ion-row>
                            <button ion-button block full type="submit" [disabled]="!loginForm.valid">
                                Autentificare
                            </button>
                        </ion-row>

                    </ion-list>

                </form>

                <ion-row>
                    <ion-col>
                        <button ion-button small  color="light" (click)="register()">
                            Inregistrare
                        </button>
                    </ion-col>


                    <ion-col text-right>
                        <button ion-button small color="light" (click)="recover()">
                            Am uitat parola...
                        </button>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col class="login-button">
                <button ion-button block (click)="doFbLogin()">
                    <ion-icon name="logo-facebook"></ion-icon>
                    Facebook
                </button>
                <!--<button ion-button block (click)="doGoogleLogin()" color="danger">-->
                    <!--<ion-icon name="logo-google"></ion-icon>-->
                    <!--Google-->
                <!--</button>-->

            </ion-col>
        </ion-row>
    </div>
</ion-content>