<!--
  Generated template for the DetaliisesizarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{ item.category_id }} {{ item.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="checkmark"></ion-icon>
          <div>{{ item.status }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="pricetag"></ion-icon>
          <div> {{ (item.nr_inregistrare ? item.nr_inregistrare : 'nealocat') }}</div>
        </button>
      </ion-col>

    </ion-row>
  </ion-card>

  <ion-card>

    <ion-item>
      <h2>{{ item.title }}</h2>
      <p> {{ item.created_at }}</p>
    </ion-item>



    <ng-container *ngIf="checkMany(item.picture)">
      <img *ngFor="let picture of item.picture" src="https://app.primariatm.ro/api/web/public/{{ picture }}" style="margin-bottom: 2px;">
    </ng-container>

    <ng-container *ngIf="!checkMany(item.picture)">
      <img *ngIf="item.picture" src="https://app.primariatm.ro/api/web/public/{{ item.picture }}">
    </ng-container>

    <ion-card-content>
      <p>{{ item.description }}</p>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="item.answer">
    <ion-card-content>
      <h2><strong>Rezolutie:</strong></h2>
      <p>{{ item.answer }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <small>
        <p style="color: #999 !important; font-size: 10px !important;">
          <ion-icon name="map"></ion-icon>
          Adresa: {{ item.address }}
        </p>
        <p style="color: #999 !important; font-size: 10px !important;">
          <ion-icon name="locate"></ion-icon>
          GPS: {{ item.latitude }} {{ item.longitude }}
        </p>
      </small>
    </ion-card-content>
  </ion-card>


</ion-content>
