<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Inregistrare</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="register-content" padding no-bounce [attr.noScroll]="shouldScroll">



    <h1>Bine ai venit!</h1>
    <div class="label-description label-invert">Pentru a putea beneficia de facilitățile platformei, te invităm să te înregistrezi!</div>
    <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)">

        <ion-list>

            <ion-item>
                <ion-input formControlName="name" type="text"
                           placeholder="Numele tau, ex: David Tudor"></ion-input>
                <ion-label class="label-right">minim 7 caractere</ion-label>
            </ion-item>

            <ion-item>
                <ion-input formControlName="email" type="text"
                           placeholder="Adresa e-mail"></ion-input>
                <ion-label class="label-right">adresa e-mail uzuala</ion-label>

            </ion-item>
            <div padding>
                <small>
                    <strong>ATENȚIE:</strong>
                    <br>Adresa de e-mail va fi contul de utilizator.
                    <br>Adresa de e-mail va fi folosită și de reprezentații Primăriei Timișoara, pentru a lua legatura cu tine. Te rugăm să folosești un email pe care il citești zilnic.
                    <hr><br>Anumite secțiuni vor necesita câmpuri suplimentare, de exemplu numarul de telefon. Nu uita te rog de conditiile GDPR, valabile din 25 Mai 2018,
                    care ne permite să prelucrăm datele tale personale doar în scopurile acestei aplicații și cu acordul tău.
                    <br>Prin continuarea înregistrării, declari că esti de acord cu acestea.
                </small>
            </div>

            <ion-item>
                <ion-input formControlName="password" type="password" placeholder="Parola"></ion-input>
                <ion-label class="label-right">minim 6 caractere</ion-label>
            </ion-item>
            <ion-item>
                <ion-input formControlName="passwordConfirm" type="password" placeholder="Confirma Parola"></ion-input>
                <ion-label class="label-right">confirmarea parolei</ion-label>
            </ion-item>


        </ion-list>

        <div class="label-description">Iti promitem ca vom respecta anonimatul sesizarilor tale, datele fiind utilizate
            doar pentru notificari catre tine, in cazul in care acestea sunt necesare!
            <br><br>Iti multumim!
            <hr>
        </div>

        <ion-row>
            <button ion-button block full type="submit" [disabled]="!registerForm.valid">
                Inregistrare
            </button>
        </ion-row>

        <ion-row>

        </ion-row>

    </form>

</ion-content>
