<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Recupereaza Parola</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="forget-content" padding no-bounce [attr.noScroll]="shouldScroll">


  <h1>Ai uitat parola?</h1>
  <div class="label-description label-invert">Avem zilnic cel putin 100 de persoane care isi uita parola, <strong>felicitari</strong> astazi esti primul care a uitat-o!</div>
  <form [formGroup]="recoverForm" (ngSubmit)="submit(recoverForm.value)">

    <ion-list>


      <ion-item>
        <ion-input formControlName="email" type="text"
                   placeholder="Adresa e-mail"></ion-input>
        <ion-label class="label-right">adresa e-mail uzuala</ion-label>

      </ion-item>
      <div padding>
        <small>
          <strong>ATENTIE:</strong>
          <br>Iti vom genera o noua parola, si o vei primi pe adresa de email.
          <br><br>Parola veche va fi schimbata doar dupa autentificarea cu parola noua.
        </small>
      </div>

    </ion-list>


    <ion-row>
      <button ion-button block full type="submit" [disabled]="!recoverForm.valid">
        Trimite-mi parola noua
      </button>
    </ion-row>

  </form>

</ion-content>
