<!--
  Generated template for the SesizarilemelePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sesizarile Mele</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
    <ion-item tappable icon-right *ngFor="let item of apiResponse" (click)="selectSection(item)">
      <h2><strong>{{ item.category_id }} {{ item.title }}</strong></h2>
      <p><small>{{ item.created_at }} | {{ item.status }}</small>
      <ion-icon style="position: absolute; color: #999; top:20px; right: 15px;" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-card text-center *ngIf="!apiResponse"><ion-card-content>Momentan nu ai nicio sesizare!</ion-card-content></ion-card>
</ion-content>