page-utile {


  ion-content {

    background: map-get($colors, blue) !important;
    margin: 0px !important;
    padding: 0px !important;


  }

  hr {
    height: 1px !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
    display: block !important;
    width: 100% !important;
  float: left;
  }
  ion-icon {
    margin-left: 0px;
    margin-right: 5px;
  }

}
