<!--
  Generated template for the UtilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Telefoane Utile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content no-padding>

    <ion-list hidden>
        Prefixul de tara a Romaniei este: <strong>+40</strong>
        <br>Prefixul judetului Timis este: <strong>0256</strong>
        <br>Exemple de formare numar telefon: Primaria Municipiului Timisoara:
        <p> - din Timisoara si Timis: <strong>0256/408300</strong></p>
        <p> - din tara: <strong>0256/408300</strong></p>
        <p> - din strainatate: <strong>040/256/408300</strong></p>
    </ion-list>

    <ion-card *ngFor="let item of utile">
        <ion-card-content>
            <strong>{{item.institutie}}</strong>
            <hr>
            <p>{{ item.adresa }}</p>

            <div *ngFor="let phone of item.telefoane">
                <span *ngIf="phone.phone.length >= 6; else noPhone">
                  <a href="tel:{{ phone.phone }}"><button ion-button small> <ion-icon name="call"></ion-icon> {{ phone.phone }} {{ (phone.note ? "( " + phone.note + " )" : null) }} </button></a>
                </span>
                <ng-template #noPhone>{{ (phone.note ? phone.note + ": " : null) }} <strong>{{ phone.phone }}</strong>
                </ng-template>

            </div>

            <div *ngFor="let fax of item.fax">
                <p *ngIf="fax.fax.length">
                    <button ion-button small color="dark">
                        <ion-icon name="document"></ion-icon>
                        {{ fax.fax }} {{ (fax.note ? "( " + fax.note + " )" : null) }} ( fax )
                    </button>
                </p>
            </div>

            <div *ngIf="item.extra">
                <hr>
                <p>{{ item.extra }}</p>
            </div>

        </ion-card-content>
    </ion-card>


</ion-content>
