<!--
  Generated template for the NoutatiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Noutati</ion-title>
  </ion-navbar>

</ion-header>




<ion-content >

  <ion-item icon-right tappable *ngFor="let item of news"  (click)="selectSection(item)" >
    <h2><strong> {{ item.title }}</strong></h2>
    <p><small>{{ item.pubDate }} </small>
      <ion-icon style="position: absolute; top:20px; color: #999; right: 15px;" name="arrow-forward"></ion-icon>
  </ion-item>

</ion-content>
