page-sesizari {

  ion-header button {
    border: 0px !important;
    color: map-get($colors, blue) !important;
  }

  .active {
    background: #356BAF;
    color: #fff !important;
  }
  
  .opened {
    background: #dedede;
  }

  ion-content {

    background: map-get($colors, blue) !important;
    margin: 0px !important;
    padding: 0px !important;



    ion-icon {
      font-size: 40px; //Preferred size here
      margin-bottom: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

  }

  .item-inner {
    border: 0px !important;
  }

  .white {
    background: #fff !important;
    color: #053d70 !important;
    font-size: 14px !important;
  }

}