<!--
  Generated template for the SesizariPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Sesizari Online</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <div *ngFor="let sesizare of sesizari; let i = index">
            <ion-item  [ngClass]="{ 'active' : sesizare.open }" tappable (click)="toggleSection(i)">{{sesizare.category}}
                <ion-icon *ngIf="sesizare.open" name="arrow-down" item-right></ion-icon>
                <ion-icon *ngIf="!sesizare.open" name="arrow-forward" item-right></ion-icon>
            </ion-item>
            <div *ngIf="sesizare.open">
                <ion-item class="opened" tappable (click)="selectSection(item.key,sesizare.category,item.id,item.extra)" *ngFor="let item of sesizare.items; let x = index">&nbsp;&nbsp; {{ item.key }}
                    <ion-icon name="arrow-forward" item-right></ion-icon>
                </ion-item>
            </div>
        </div>
    </ion-list>


</ion-content>