page-adaugasesizare {
  #map {
    width: 100%;
    height: 200px;
  }
  ion-icon {
    margin-right: 5px;
    margin-top: 0px !important;
  }
  ion-textarea, ion-input {
    border: 1px solid #dedede;
    padding-left: 8px;
  }
}
