<!--
  Generated template for the AdaugasesizarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ this.navParams.data.type }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="loadMap()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="myForm" novalidate>
    <div #map (mapClick)="placeMarker($event)" id="map"></div>

    <ion-grid no-padding>
      <ion-row>
        <ion-col class="col-sm-6" text-center>
          <button ion-button full color="dark" (click)="loadPicture()">
            <ion-icon name="camera"></ion-icon>
            Adauga poza
          </button>
        </ion-col>
        <ion-col class="col-sm-6" text-center>
          <button ion-button full color="blue" (click)="loadGallery()">
            <ion-icon name="images"></ion-icon>
            Selecteaza Poza
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid padding *ngIf="imageFileName">
      <ng-container *ngFor="let image of imageFileName">
        <div class="col-12">
          <img [src]="image" alt="Imagine Sesizare" style="width: 100%"/>
        </div>
      </ng-container>
      <button *ngIf="imageFileName.length >= 1 && imageFileName.length <= 5" ion-button full color="blue" (click)="loadGallery()">
        <ion-icon name="images"></ion-icon>
        Adauga o poza noua
      </button>
    </ion-grid>

    <ion-grid padding-left padding-right padding-top text-center>
      <ion-textarea rows="6" formControlName="description"
                    placeholder="Descrierea situatiei, daca nu reiese din poza. Va rugam sa furnizati informatii cat se poate de concludente!"></ion-textarea>
    </ion-grid>

    {{ err | json }}

    <ion-grid padding-left padding-right padding-top text-left *ngIf="extraFields">

      <p *ngIf="extraFields.type == 'input'">{{extraFields.note}}</p>
      <ion-input *ngIf="extraFields.type == 'input'" formControlName="extraField" placeholder="{{extraFields.label}}"
                 type="text"></ion-input>
      <textarea *ngIf="extraFields.type == 'text'" rows="4" formControlName="extraField"
                placeholder="{{extraFields.note}}"></textarea>


    </ion-grid>


    <button ion-button full type="submit" (click)="sendRequest(myForm.value, myForm.valid)">
      <ion-icon name="send"></ion-icon>
      Trimite Sesizarea
    </button>




  </form>
</ion-content>
