<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Primăria Timișoara</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>Primăria Municipiului Timișoara se află la intersecția Bulevardului C.D. Loga cu strada 20 Decembrie 1989,
    în apropriere de Piaţa Victoriei (Piaţa Operei), Catedrala Mitropolitană Ortodoxă şi vis-a-vis de Sala Capitol.
    Lângă Primărie se află sediul Telecom, banca Banc Post şi Parcul Justiţiei.</p>

  <p>Intrarea principală este pe B-dul C.D. Loga.</p>

  <p>
    <ion-icon name="pin"></ion-icon> Adresa: B-dul C.D. Loga, nr. 1, cod postal 300030
    <br><a href="tel:0256408300"><button ion-button small>Telefon: <ion-icon name="call"></ion-icon> 0256.40.83.00 </button></a>
    <br><a href="tel:0256408300"><button ion-button small>Fax:  <ion-icon name="attach"></ion-icon> 0256.49.06.35 </button></a>
    <br><a href="tel:0256969"><button ion-button small>Call Center: <ion-icon name="call"></ion-icon> 0256.969 </button></a>
    <br><a href="mailto:primariatm@primariatm.ro"><button ion-button small>E-mail: <ion-icon name="email"></ion-icon> primariatm@primariatm.ro </button></a>
    <br><a href="https://primariatm.ro"><button ion-button small>Internet: <ion-icon name="link"></ion-icon> https://primariatm.ro </button></a>
  </p>

  <p>La Serviciul de Relaţionare Directă cu Cetăţenii (camera 12) - parter</p>

  <p><strong>Programul cu publicul este următorul:</strong></p>

  <p>  <ion-icon name="calendar"></ion-icon> Luni, Miercuri, Joi, Vineri: 8,30 - 16,30
  <br>  <ion-icon name="calendar"></ion-icon> Marţi: 8,30 - 18,30</p>

</ion-content>