<ion-header text-left>
    <ion-buttons start>
        <button outline ion-button icon-only (click)="logout()">
            <ion-icon name="log-out"></ion-icon> Iesire
        </button>
    </ion-buttons>
</ion-header>

<ion-content>


    <div class="row" *ngIf="weather.temperature">
        <ion-card>
            <ion-card-content>
                <div class="padding">
                    <p>Bine ai venit {{ currentUser.name }}!</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h2>{{ weather.temperature }} &deg; </h2>
                            <small>
                                rasarit: {{ weather.astronomy.sunrise}}
                                <br>apus: {{ weather.astronomy.sunset }}
                            </small>
                        </div>
                        <div class="col">
                            <small>
                                <div class="row" *ngFor="let thisForecast of weather.forecast">
                                    <div class="col">
                                        {{ thisForecast.date | date: 'dd.MM.yyyy' }}
                                    </div>
                                    <div class="col" text-right>
                                        {{ thisForecast.low }} &deg; / {{ thisForecast.high }} &deg;
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row" style="background: #053d70;">
                    <div class="col">
                        <h2 style="color: #fff; font-size:28px !important;" class="padding"><sup>&euro;</sup> {{ currency.eur | number : '1.4-4' }}</h2>
                    </div>
                    <div class="col">
                        <h2 style="color: #fff; font-size:28px !important;"  class="padding"><sup>$</sup> {{ currency.usd | number : '1.4-4' }}</h2>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <div class="row">
        <div class="col">
            <button class="pink" (click)="goto('sesizari')">
                <ion-icon name="warning"></ion-icon>
                <h3>Sesizare Noua</h3>
            </button>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <button (click)="goto('sesizarilemele')">
                <ion-icon name="archive"></ion-icon>
                <h3>Sesizarile Mele</h3>
            </button>
        </div>

        <div class="col">
            <button (click)="goto('remoteview','Stadiu Cereri','https://www.primariatm.ro/mobile_status.php')">
                <ion-icon name="clock"></ion-icon>
                <h3>Stadiu Cereri</h3>
            </button>
        </div>
        <div class="col">
            <button (click)="goto('noutati',null)">
                <ion-icon name="color-wand"></ion-icon>
                <h3>Noutati</h3>
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button  (click)="goto('calendar')">
                <ion-icon name="calendar"></ion-icon>
                <h3>Evenimente</h3>
            </button>
        </div>
        <div class="col">
            <button (click)="goto('sondaje')">
                <ion-icon name="help"></ion-icon>
                <h3>Sondaje</h3>
            </button>
        </div>

        <div class="col">
            <button (click)="goto('formulareonline')">
                <ion-icon name="attach"></ion-icon>
                <h3>Formulare</h3>
            </button>
        </div>
    </div>
    <div class="row border-bottom">
        <div class="col">
            <button (click)="goto('utile')">
                <ion-icon name="call"></ion-icon>
                <h3>Telefoane Utile</h3>
            </button>
        </div>


        <div class="col">
            <button (click)="goto('primarialive')">
                <ion-icon name="videocam"></ion-icon>
                <h3>Timisoara Live</h3>
            </button>
        </div>
        <div class="col">
            <button (click)="goto('contact')">
                <ion-icon name="mail"></ion-icon>
                <h3>Contact</h3>
            </button>
        </div>
    </div>


</ion-content>



