page-home {


  ion-header {
    background: #1C5195 !important;
  }
  ion-header button {
    border: 0px !important;
    color: #fff !important;
  }


  ion-card-content {
    h1 {
      font-size: 16px !important;
      font-weight: 800 !important;
    }
    h2 {
      font-size: 32px !important;
      font-weight: 800 !important;
    }
  }

  ion-content {

    background: map-get($colors, blue) !important;
    //
    ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c5195+29,356baf+69,356baf+69,2989d8+99 */
    //background: #1c5195; /* Old browsers */
    //background: -moz-radial-gradient(center, ellipse cover, #1c5195 29%, #356baf 69%, #356baf 69%, #2989d8 99%); /* FF3.6-15 */
    //background: -webkit-radial-gradient(center, ellipse cover, #1c5195 29%,#356baf 69%,#356baf 69%,#2989d8 99%); /* Chrome10-25,Safari5.1-6 */
    //background: radial-gradient(ellipse at center, #1c5195 29%,#356baf 69%,#356baf 69%,#2989d8 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c5195', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    margin: 0px !important;
    padding: 0px !important;

    * {
      padding: 0px !important;;
    }
    .padding {
      padding: 15px !important;
    }

    ion-item-divider {
      background: map-get($colors, blue);
      color: #fff;
    }

    .invert {
      background: #dedede !important;
    }

    .row {
      margin: 0px !important;
      padding: 0px !important;
    }
    .col {
      padding:0px !important;
      margin:0px !important;
    }

    .pink {
      background: #E54A65 !important;
      width: 100% !important;
    }

    ion-card-title {
      color: map-get($colors, blue) !important;
      font-size: 12px !important;
      font-weight: 800 !important;
      padding-left: 5px !important;
    }

    ion-card {
      background: #fff !important;
      margin:0px !important;;
      padding: 0px !important;;
      width: 100% !important;
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      border-radius: 0px !important;
    }


    button {
      text-align: center;
      background: map-get($colors, blue);
      display: block;
      width: 100%;
      min-height: 85px;
      vertical-align: center;
      color: #fff;
      margin: 0px !important;
      border: 1px solid #3675ba;
      border-right: 0px;
      border-bottom: 0px;
    }

    ion-icon {
      font-size: 40px; //Preferred size here
      margin-bottom: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    h3 {
      margin-top: 0px;
      font-size: 12px;
      font-weight: 800;
      text-align: center;
      width: 100%;
      display: block;
    }

  }

}
