page-formulareonline {

  ion-content {

    background: map-get($colors, blue) !important;
    margin: 0px !important;
    padding: 0px !important;

    button {
      background: #053d70;
      display: block;
      width: 100%;
      vertical-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff;
      border-radius: 4px;
      text-align: left !important;
      font-size: 14px;
    }

  }

}
