<!--
  Generated template for the FormulareonlinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Formulare</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-item tappable icon-right  *ngFor="let formular of formulare"  (click)="goto('remoteview',formular.title,formular.url)">
            <small><strong> {{formular.title}} </strong></small>
            <ion-icon style="position: absolute; color: #999; top:-2px; right: 15px;" name="arrow-forward"></ion-icon>
    </ion-item>

</ion-content>
