<!--
  Generated template for the RemoveviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{this.navParams.data.title}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content overflow-scroll="true">
    <iframe width="100%" height="100%" [src]="url"></iframe>
</ion-content>
