<!--
  Generated template for the SondajePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sondaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>

  <p>
    va fi inclus în următorul update...
    <br>vă mulțumim de înțelegere
  </p>

</ion-content>
