<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bine ai venit!
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid>
  <ion-row>
    <ion-col col-3>
      <ion-icon name="add-circle"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
