page-calendar {

  .no-scroll .scroll-content{
    overflow: hidden;
    background: #fff;
  }

  .scroll-content {
    display: block;
  }
  .calendarContainer {
    overflow-y: hidden !important;
    height: 320px;
  }
  .eventsContainer {
    overflow-y: scroll !important;;
    height: calc(100% - 320px);
  }
  .full-width {
    width: 100% !important;
  }
  .eventList {
    margin-bottom: 2px;
    background: #fafafa;
    font-size: 13px;
    margin-bottom: 1px;
    width: 100%;
    display: block;
  }

  .eventElement:nth-child(even) {
    background: #dedede !important;
  }

  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
    height: 40px;
    max-height: 40px;
    margin: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 5px;

  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }

  .calendar-header {
    padding-top: 15px;
    background-color: map-get($colors,'primary');
    color: #FFFFFF;
    padding-bottom: 5px;
  }

  .selected-date {
    width: 20px;
    height: 2px;
    background-color: #3675ba;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    background-color: #fff;
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      background-color: map-get($colors,'primary');
      color: #fff;
    }

  }

  .disabled .circle {
    color: #dedede !important;
  }

  .currentDate {
    background: map-get($colors,'primary') !important;
    color: #fff !important;
  }

  .circle {
    position: relative;
    display: inline-block;
    width: 75%;
    height:100%;
    border-radius: 50%;
    background: none;
    border: 1px solid #efefef;
    color: #054375;
    text-align: center;
  }
  .circle p {
    position: relative;
    top: -4px;
  }

}