<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Calendar Evenimente</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="no-scroll">

    <ion-row class="calendarContainer">
        <div class="calendar">
            <div class="calendar-header">
                <ion-row class="calendar-month">
                    <ion-col col-2 (click)="goToLastMonth()">
                        <ion-icon *ngIf="allowToGoBack" name="arrow-back"></ion-icon>
                    </ion-col>
                    <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
                    <ion-col col-2 (click)="goToNextMonth()">
                        <ion-icon *ngIf="allowToGoForward" name="arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
            <div class="calendar-body">
                <ion-grid>
                    <ion-row class="calendar-weekday">
                        <ion-col>Lu</ion-col>
                        <ion-col>Ma</ion-col>
                        <ion-col>Mi</ion-col>
                        <ion-col>Jo</ion-col>
                        <ion-col>Vi</ion-col>
                        <ion-col>Sa</ion-col>
                        <ion-col>Du</ion-col>
                    </ion-row>
                    <ion-row class="calendar-date">
                        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="disabled">
                            <div class="circle"><p>{{lastDay}}</p></div>
                        </ion-col>
                        <ion-col col-1 *ngFor="let day of daysInThisMonth" tappable (click)="selectDate(day)">
                            <div class="circle currentDate"
                                 *ngIf="currentDate === day || currentSelection === day; else otherDate"><p>{{day}}</p>
                            </div>
                            <ng-template #otherDate class="no-background">
                                <div class="circle otherDate"><p>{{day}}</p></div>
                            </ng-template>
                        </ion-col>
                        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="disabled">
                            <div class="circle"><p>{{nextDay}}</p></div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

        </div>
    </ion-row>

    <hr>


    <div id="eventsContainer" class="eventsContainer"  (scroll)="onScroll($event)" [scrollTop]="scrollTopPosition">
        <ion-list>
            <ion-row class="eventElement" *ngFor="let event of eventList">
                <ion-col col-3 text-right>
                    <strong>{{ event.day }} {{ this.monthNames[event.month] }}</strong>
                    <br><small>{{event.ora}}</small>
                </ion-col>
                <ion-col col-9 text-left>
                    <strong>{{event.title}}</strong>
                    <span *ngIf="event.locatie.length > 2">
                        <br><small>{{ event.locatie }}</small>
                    </span>
                </ion-col>
            </ion-row>
        </ion-list>
    </div>

</ion-content>
