<!--
  Generated template for the DetaliinoutatiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ item.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-card-content>

      <h2> {{ item.title }} </h2>
      <p> {{ item.pubDate }} </p>
      <p [innerHTML]="item.fullText"></p>

    </ion-card-content>



  </ion-card>

</ion-content>
